<?xml version="1.0"?>
<model>
  <name>ADcar_model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>


  <author>
   <name>Thomas Vines</name>
   <email>thomasvinesjp@gmail.com</email>
  </author>

  <depend>
    <model>
      <uri>model://ADcar_model</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    ad-car for AD project.
  </description>
</model>
